.header-container{
        display: flex;
            height: 115px;
            flex-direction: row;
}
.logo{
    margin-right: 230px;
}
.logo > img {
    margin-left: 1.3rem;
    width: 145px;
    height: 135px;
}
 .center-header-element > .header-element
 {
    padding-left: 3rem ;
    padding-right: 3rem ;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

 .center-header-element{
            font-family: 'inter';
            font-size: 1rem;
            margin-top: 2.6rem;
            display: flex;
            width: 553px;
            color: black;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            height: 30px;
}


 #btnFeature:hover{
        font-size: 18px;
        box-shadow: 4px 6px 26px -10px rgba(43, 255, 0, 0.51);
        transition: all 0.3s ease-out;
}
 #btnAbout:hover{
        font-size: 18px;
        
        box-shadow: 4px 6px 26px -10px rgba(43, 255, 0, 0.51);
        transition: all 0.3s ease-out;
 }
 #btnContact:hover{
    font-size: 18px;
    
    box-shadow: 4px 6px 26px -10px rgba(43, 255, 0, 0.51);
    transition: all 0.3s ease-out;
 }